h1 {
    background: ivory;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    text-transform: uppercase;
}

h2 {
    background: rgb(231, 196, 129);
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: steelblue;
}

h3 {
    text-align: center;
    font-style: italic;
    font-family: Inconsolata;
    background: rgb(251, 235, 207);
}

.ing-list {
    margin: 15px;
    padding: 5px;
    border: peru 1px; 
    width: 400px;
    background: rgb(252, 247, 238);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    width: 1000px;
    margin: 15px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.2;
    }

.diskr {
    width: 1000px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.2;
}