.box {
    width: 640px;
    height: 500px;
    background: black;
    padding: 8px 8px;
    font-size: 0;
}

.block1 {
    width: 640px;
    height: 80px;
    background: orange;  
}

.block2 {
    width: 160px;
    height: 338px;
    background: red;
    float: left;
}

.block3 {
    width: 160px;
    height: 338px;
    background: green;
    float: left;
}

.block4 {
    width: 160px;
    height: 338px;
    background: blue;
    float: left;
}

.block5 {
    width: 160px;
    height: 338px;
    background: black   
}